body {
  font-family: Arial;
  overflow: hidden;
  font-size: 42pt;
  color: #004785;
}

.font42 { font-size: 42pt; }

/* HEADER */
.header {
  position:absolute;
  left:762px;
  top:0;
  font-size: 200pt;
  background-color: #E3EAEE;
  height: 330px;
  vertical-align: middle;
  text-align: center;
  width: 3078px;
  color: #fff;
}

.header span {
  line-height: 330px;
}

/* SIDEBAR */
.sidebar {
  position:absolute;
  left:0;
  top :0;
  width: 726px;
  height: 2160px;
}

/* TABLE */
table {
  table-layout: fixed;
  width: 3078px;
  position: absolute;
  top: 330px;
  left: 762px;
}

/* TABLE HEAD */
thead tr td { vertical-align: middle; }
thead tr td:nth-child(1) { text-align: center;}
thead tr td:nth-child(2) { /* text-align: center; */}
thead tr td:nth-child(3) { text-align: left;}

/* TABLE BODY */
.widthCol1 { width: 180px; }
.widthCol2 { width: 585px; }
/* .widthCol3plus4 { width: 2313px; } */
.widthCol3 { width: 1300px; }
/* .widthCol4 { width: 1037px; } */

.col {
  border-bottom: 2px solid #F0F0F0;
}

.col1 {
  text-align: center;
}
.col2 {
  padding-left: 50px;
  padding-right: 10px;
}
.col3 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 56pt;
}
.col4 {
  padding: 20px 0 10px 0px;
  text-align: center;
}

.dynTr {
  height: 150px;
}
.dynTr img {
  max-height: 200px;
}

td {
  vertical-align: top;
  padding-top: 40px;
  padding-bottom: 40px;
}

ul {
  line-height: 110%;
}

.userRegisterLink {
  cursor: pointer;
}

/* REGISTER DESCRIPTION */
.registerDescription {
  position: absolute;
  bottom: 310px;
  left: 20px;
  font-size: 30.7px;
  text-transform: uppercase;
}

/* REGISTER BUTTON */
.btnRegister {
  position: absolute;
  bottom: 170px;
  left: 20px;
  padding: 20px 0px;
  width: 686px;
}

/* CHECKOUT BUTTON */
.btnCheckOut {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 20px 0px;
  width: 686px;
}

/* MODAL */
.modal-open .modal {
    overflow: hidden;
}
.modal-dialog {
  width: 686px;
  margin: 50vh auto;
  position: absolute;
  left: 20px;
  bottom: -750px;

}
.modal-title {
  font-size: 30pt;
  width: 90%;
}
.modal-dialog .close {
  font-size: 30pt;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-footer button {
  /* font-size: 25pt; */
}
.checkout-msg {
  font-size: 24pt;
}
