body {
  font-family: Arial;
  overflow: hidden;
  /* font-size: 42pt; */
  color: #004785;
  font-size: 2.5vh;
}

.grid_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: repeat(5, 15.2vh) 1fr;
    grid-gap: 1vw;
    grid-template-areas: "side1 header"
                         "side2 content"
                         "side3 content"
                         "side4 content"
                         "side5 content"
                         "register content";
}

.grid_container div {
    background-size: cover;
    background-position: center;
}

.header {
    grid-area: header;
    background: #e8f0f4;
    font-family: arial;
    color: white;
    font-size: 11vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}
.side_1 { background-image: url("../img/welcome_bildleiste_1.jpg"); grid-area: side1; }
.side_2 { background-image: url("../img/welcome_bildleiste_2.jpg"); grid-area: side2; }
.side_3 { background-image: url("../img/welcome_bildleiste_3.jpg"); grid-area: side3; }
.side_4 { background-image: url("../img/welcome_bildleiste_4.jpg"); grid-area: side4; }
.side_5 { background-image: url("../img/welcome_bildleiste_5.jpg"); grid-area: side5; }

.register_container {
  grid-area: register;
  width: 90%;
  justify-self: center;
  text-align: center;
  align-self: end;
  margin-bottom: 2vh;
}

/* DATAPICKER */
.datepicker-wrapper { width: 100%; display: none; }
.datepicker-wrapper input { width: 80%; }
.datepicker-wrapper button { width: 20%; }

/* TERMINTABELLE */
#content-table {
  width: 100%;
}

#content-table thead tr {
    height: 3vh;
    line-height: 3vh;
}

#content-table tbody tr {
    height: 6vh;
    line-height: 6vh;
    border-bottom: 2px solid #E3EAEE;
    max-height: 10vh;
}

#content-table td {
  /* border: 1px red dotted; */
  vertical-align:middle;
  line-height: 100%;
}


#content-table tr td:nth-child(1) { width: 7%; text-align: center; }
#content-table tr td:nth-child(2) { width: 25%; padding: 1vh 1vw;}
#content-table tr td:nth-child(3) { width: 45%; font-weight: bold; font-size: 1.2em; padding-left: 1vw;}
#content-table tr td:nth-child(4) { width: auto; }

#content-table .parallelogram_left, #content-table .parallelogram_right  {
  height: 1.9vh;
  background: #FFD500;
  transform: skewX(10deg);
}
#content-table .parallelogram_left {
  width: 80%;
  margin: auto auto;
}
#content-table .parallelogram_right {
  width: 110%;
  margin-left: -0.5vw;
}

#content-table .dynTr img {
  max-height: 8vh;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
}



.userRegisterLink {
  cursor: pointer;
}

/* REGISTER DESCRIPTION */
.registerDescription {
  text-transform: uppercase;
}

.btnRegister, .btnCheckOut {
  font-size: 2vh;
  width: 100%;
  margin: 0.4vh 0;
}

.btnRegister i {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  animation: btnShiny 3s infinite 1s;
}

@keyframes btnShiny {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}

/* MODAL */
.modal-open .modal {
    overflow: hidden;
}
.modal-dialog {
  width: 686px;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  bottom: 380px;

}
.modal-title {
  font-size: 30pt;
  width: 90%;
}
.modal-dialog .close {
  font-size: 30pt;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-footer button {
  /* font-size: 25pt; */
}
.checkout-msg {
  font-size: 24pt;
}
.is-invalid {
  border: 1px solid red;
}
.is-invalid:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6);
  border-color: red;
}
.is-invalid::placeholder {
  color: red;
}

#current_in_house_wrapper {
  position: absolute;
  bottom: 0px;
  right: 25%;
  width: 50vw;
  font-size: 0.6em;
}
#curret_in_house {
  /* background-color: rgba(255,255,255,0.8) */
  background-color: #E8F0F4;
  padding: 20px;
}
#curret_in_house table.tbl_curret_in_house {
  /* text-align: left; */
  border-collapse: collapse;
  width: 100%;
}
#curret_in_house table.tbl_curret_in_house td, #curret_in_house table.tbl_curret_in_house th {
  /* border: 1px solid #A4A4A4; */
  border-bottom: 1px solid #A4A4A4;
  padding: 3px 10px;
}
#curret_in_house table.tbl_curret_in_house thead th {
  /* font-size: 15px; */
  font-weight: bold;
}

#current_in_house_wrapper .trapez {
  background-color: #E8F0F4;
  width: 25%;
  margin: auto;
  text-align: center;
  margin-bottom: -0.5vh;
  /* padding: 1%; */
  height: 4vh;
  transform: perspective(5em) rotateX(45deg);
}
#current_in_house_wrapper .control_show {
  position: relative;
  text-align: center;
  bottom: -3vh;
  z-index: 10;
}

.dnone {
  display: none;
}
